@charset "utf-8";
/* CSS Document */
header{
		background-color: white
	}
	body{
		background-color: royalblue
	}
	#wrapper{
		width: 1600px;
		height: 960px;
		background-color: white;
	margin:0 auto;}
	section{
		width: 1580px;
		height: 940px;
		margin: 10px 10px 0px 10px;
		background-color: red;
		}
article{
	width: 380px;
	height: 260px;
	background-color: grey;
	float: left;
	margin: 20px;
}
